@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root{
    --black:#000000;
    --white:#FFFFFF;
}

.cart-container{
 min-height:100vh;
}

main{
    min-height: calc(100vh - 10vh);
    /* padding:2rem 0; */
    display: flex;
    flex-direction: column;
}  
main h1{
    text-align: center;
    padding: 1rem 0;
}
main .content{
    display: flex;
}
.myProducts{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 13px;
    justify-content: space-evenly;
}
.products-list{
    padding: 5px 10px;
}
.checkoutList{
    width: 25%;
    padding: 16px;
}
.checkoutList .checkout-container{
    min-height: 200px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}
.checkout-container h3{
    text-align: center;
    margin: 1rem 0;
}
.productList-info {
    display: flex;
    justify-content: space-between;
    margin: 3px 0;
}
.totalPrice-section{
    padding: 5px 9px;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
}
#checkoutBtn{
    line-height: 2.5;
    background-color:var(--white);
    border: none;
    color:var(--black);
    cursor: pointer;
     width: 80%;
    margin: 5px auto;
}

.product-cart {
    border: 1px solid black;
    min-width: 210px;
    max-width: 210px;
    display: flex;
    flex-direction: column;
    margin:0 10px;
}
.product-cart .image{
    width: 190px;
    height: 220px;
    margin: auto;
}
.product-cart .image img{
    width:100%;
    height:100%;
}
.product-cart .product-info{
padding:10px;
display: flex;
flex-direction: column;
}
.product-info .product-title{
    max-width:200px;
}
.product-info .price-size-section{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
.product-info .rating-info{
    display: flex;
    margin: 5px 0;
    align-items: center;
}
.rating-info .rating-image{
    width: 20px;
    height: 20px;
}
.rating-image img{
width:100%;
height:100%;
}
.product-info .colors{
    display: flex;
    align-items: center;
}
.product-info .color div{
    width:10px;
    height:10px;
    /* background-color:red;  */
    margin:0 5px;
    box-shadow:1px 1px 5px 2px grey;
}

.removeFrmCart{
    /* width: 100px; */
    line-height: 2.5;
    background-color:var(--black);
    border: none;
    color:var(--white);
    cursor: pointer;
}